Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  clang-analyzer-security.*,
  misc-unused-parameters,
  readability-function-cognitive-complexity,
  -clang-analyzer-cplusplus*

HeaderFilterRegex: ".*"

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: "10"
  - key: misc-unused-parameters.StrictMode
    value: "false"
